* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row; 
  width: 100vw;
  height: 100vh;
  background-color: #F3F4EF;
  transition: all ease-in-out;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #F3F4EF;
  border: 1px solid #001EFF;
  cursor: pointer;
  flex-basis: 25%; // Each section takes 1/4th of the width by default
  transition: flex-basis 0.5s ease, background-color 0.5s ease; // Smooth transition for size and background

  &:hover {
    background-color: #e1e2da;
  }

  &.active {
    flex-basis: 60%; // Expand the selected section to more than half
    background-color: #e1a0a0; // Change background color for active section

    .section-content {
      background-color: rgb(218, 226, 218);
      display: block;
      opacity: 1; // Smooth content fade-in
      transition: opacity 0.5s ease;

      a {
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        transition: all 0.2s;
        font-weight: 600;
        &:hover {
          font-weight: 700;
        }
      }
    }
    .section-title {
      transition: all 1s ease;
      writing-mode: horizontal-tb;
    }
  }

  .section-title {
    font-size: 2em;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .section-content {
    display: none;
    opacity: 0;
    margin-top: 10px;
    font-size: 1.5em;
  }
}

.section:not(.active) {
  flex-basis: calc(30% / 3); // The remaining three sections share the remaining space equally
  transition: flex-basis 0.5s ease; // Smooth size transition for closing
}
