.App {

}

.App-header {
  background-color: #ced2da;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /*font-size: calc(10px + 2vmin);*/
  overflow-y: auto;
  padding: 0 10vw;
  color: black;
  user-select: none;
}

.App-header p {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.menus {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding:0;
  gap: 10px;
}

.menus li {
  margin: 0;
  font-size: 1em;
  padding: 0;
}

.menus a {
  text-decoration: none;
  color:black;
}

.menus a:hover {
  color: grey;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding:0;
}

.right {
  color:black;
}

.App-header img {
  width: 80px;
}