.App {
  height: 100vh; /* Full viewport height */
  width: 100vw;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.containers {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  white-space: nowrap; /* Prevent wrapping of content */
  display: flex;
}

section {
  width: 100%;
}

